/*
Error: Invalid CSS after "left ": expected selector, was "300px"
        on line 214 of C:/Users/barbie.lee/Dropbox/Public/iprimo2/sass/screen.sass

209: 			#readRule
210: 				left: 0
211: 				top: 275px
212: 			.gorule
213: 				position: absolute
214: 				left 300px
215: 				top: 500px
216: 				background: #fff
217: 				width: 50px
218: 				height: 10px
219: 		#pic_form

Backtrace:
C:/Users/barbie.lee/Dropbox/Public/iprimo2/sass/screen.sass:214
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/scss/parser.rb:1164:in `expected'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/scss/parser.rb:1099:in `expected'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/scss/static_parser.rb:21:in `parse_selector'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:408:in `visit_rule'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
org/jruby/RubyArray.java:2412:in `map'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
org/jruby/RubyArray.java:2412:in `map'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
org/jruby/RubyArray.java:2412:in `map'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
org/jruby/RubyArray.java:2412:in `map'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `visit_rule'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
org/jruby/RubyArray.java:2412:in `map'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:161:in `visit_children'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:151:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/tree/root_node.rb:20:in `render'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/engine.rb:268:in `render'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
org/jruby/RubyMethod.java:136:in `call'
file:/C:/Download/fire.app.windows.v1.13.1/fire.app/fire-app.jar!/hook/compass_patch.rb:131:in `update_stylesheet'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/compass_1.0/sass-3.4.1/lib/sass/plugin/compiler.rb:329:in `watch'
org/jruby/RubyProc.java:271:in `call'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/jruby/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/jruby/listen-1.1.6/lib/listen/listener.rb:271:in `initialize_adapter'
org/jruby/RubyProc.java:271:in `call'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/jruby/listen-1.1.6/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Download/fire.app.windows.v1.13.1/fire.app/lib/ruby/jruby/listen-1.1.6/lib/listen/adapter.rb:289:in `start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"left \": expected selector, was \"300px\"\A         on line 214 of C:/Users/barbie.lee/Dropbox/Public/iprimo2/sass/screen.sass\A \A 209: 			#readRule\A 210: 				left: 0\A 211: 				top: 275px\A 212: 			.gorule\A 213: 				position: absolute\A 214: 				left 300px\A 215: 				top: 500px\A 216: 				background: #fff\A 217: 				width: 50px\A 218: 				height: 10px\A 219: 		#pic_form"; }
